/* CSS RESET */
*  {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    content:'';
    background-image: url(./images/cummins-falls-waterfall-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

nav {
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 5px 5px 5px 5px;
    height: auto;
}

h1 {
    text-align: center;
    margin-top: 120px;
}

h2 {
    padding-bottom: 15px;
}

ul li{
    text-align: center;
    display: inline;
    text-decoration: none;
    font-size: 23px;
}

a {
    color: white;
    display: inline;
}

a:hover {
    text-decoration: underline;
    color: crimson;
}

.center {
    margin: auto;
    width: fit-content;
    text-decoration: none;
    text-align: center;
    display: inline;
}

.blog {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}

.about_font {
    color: white;
    display: inline;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact_font {
    color:white;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 0 0 40px;

}

.intro {
    color:white;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 24px;
    text-align: center;
}

.facts {
    color:white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 0 0 30px;
    margin-top: 10px;
} 

.gitHub {
    color:white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 0 0 30px;
    margin-top: 10px;
}

#nav {
    text-decoration: none;
    color: white;
    display: inline;
    margin: 20px 10px 0 10px;
    text-align: center;
}